@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif&display=swap');

.smallFont {
  font-size: 10px
}

.medFont {
  font-size: 14px
}

.titleFont {
  font-family: 'Montserrat', ;
}

.desFont {
  font-family: 'PT Serif', ;
}